body{
    background-color:cornflowerblue;
}
#main{
    border: 1px solid #000;
    width: 50%;
    min-height: 600px;
    margin: auto;
    background-color: aliceblue;
}
.in-D{
    width: 80%;
    padding: 10px;
    border: none;
    border-bottom: 2px double black;
    background-color: #CADAF1;
}
.btn{
    width: 100px;
    padding: 10px;
    margin-left: calc(100% - 210px);
    margin-top: 20px;
}
.btn:hover{
    background-color: green;
}
.btnt{
    width: 100px;
    padding: 10px;
    margin-left: calc(100% - 210px);
    margin-top: 20px;
}
.btnt:hover {
    background-color:cornflowerblue;
}
.in-D:hover{
    background-color: rgb(201, 188, 188);
    
}
.box1{
    width: 100%;
    font-size: 20px;
    line-height: 2;
    padding: 20px;
}